@use "styles/mixin" as *;

.block {
  position: relative;
  width: 290px;
  height: 396px;
  border-radius: 16px;
  padding: 0 20px;

  @include medium {
    margin-bottom: 15px;
  }

  @include small {
    width: 100%;
    height: 195px;
    margin-bottom: 15px;
    padding: 12px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    border-radius: 16px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    z-index: 1;
    border-radius: 16px;
  }

  .title {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;

    .btn {
      margin: 0 30px 30px 0;
      background-color: var(--color-white);
      color: var(--color-black);
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: none;
      border-radius: 100px;
      padding: 5px 6px 5px 16px;
      cursor: pointer;
      width: 100%;
      margin-top: 20px;

      @include small {
        margin: 12px 0 0;
      }

      .arrow {
        background-color: var(--color-primary);
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include small {
          width: 24px;
          height: 24px;
        }

        .icon {
          width: 12px;
        }
      }
    }
  }
}
