.header {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 2;

  .block {
    display: flex;
    justify-content: space-between;

    &_logo {
      background-color: var(--color-white);
      width: 105px;
      height: 44px;
      border-radius: 16px;
      padding: 7px 16px;
    }

    &_nav {
      background-color: var(--color-white);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 33px;
      border-radius: 15px;
      margin-right: 6px;

      ul {
        list-style: none;
        display: flex;
        gap: 49px;

        .activeLink {
          color: var(--color-primary);
        }
      }
    }

    &_account {
      display: flex;
      gap: 11px;

      .icon {
        background-color: var(--color-white);
        width: 44px;
        height: 44px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .cart {
          width: 20px;
          height: 21px;
        }

        .person {
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}
