$small-screen: 500px;
$medium-screen: 850px;
$large-screen: 1100px;

@mixin large {
  @media (max-width: $large-screen) {
    @content;
  }
}

@mixin medium {
  @media (max-width: $medium-screen) {
    @content;
  }
}

@mixin small {
  @media (max-width: $small-screen) {
    @content;
  }
}
