* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--color-black);
  position: relative;
  font-family: Open Sans;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}
ul,
li {
  margin: 0;
  padding: 0;
}
